ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center tasks horizontally */
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trash-can {
    cursor: pointer;
    margin-right: 8px;
}