# Ignore Python virtual environment
venv/

# Ignore Node.js dependencies
node_modules/

# Ignore compiled Python files
__pycache__/

# Ignore compiled JavaScript files
/build/
/dist/

# Ignore environment-specific files
.env

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db