.add-task {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
}

.add-task-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}